<footer class="s-footer">
    <div class="row s-footer__top">
        <div class="column">
            <div class="tab-full column s-footer__info">
                <p>
                    <a href="#"><img width="100" height="100" class="h-pull-left" style="border-radius: 100%" alt="sample-image" src="{{ 'assets/images/eu.jpg'|theme }}"></a>
                    <h3 class="h6">Sobre</h3>
                    O blog <a href="">{{ this.layout.title }}</a> é mantido por mim, Diego Paiva (o carinha ao lado), estudante do último semestre
                    da graduação em Ciência da Computação pela Universidade Federal de Juiz de Fora (UFJF). Neste espaço, compartilho meu conhecimento
                    através de artigos didáticos em tópicos como Algoritmos e Estruturas de Dados, afim de ajudar outros estudantes nesta jornada de aprendizado.
                </p>
            </div>
            <ul class="s-footer__social">
                <li><a href="https://github.com/diegopaiva1" title="Github"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/diego.paiva.963" title="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/diego-paiva/" title="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#0" title="Lattes"><i class="ai ai-lattes" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div> <!-- end footer__top -->

    <div class="row s-footer__bottom">
        <div class="ss-copyright">
            <span>© Copyright Diego Paiva {{ 'now' | date('Y') }}</span>
            <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
        </div>
    </div> <!-- end footer__bottom -->

    <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
        </a>
    </div> <!-- end ss-go-top -->
</footer> <!-- end Footer-->
